<div class="card">
  <% @symbol = StockQuote::Stock.quote(@stock.symbol) %>

  <%# This error handling doesn't work due to bad api response %>
  <% if !@symbol %>
    The symbol: <%= @logo.url %> <br/> does not exist.
  <% else %> 
    <div class="card-header">
      <strong><%= @symbol.company_name %></strong> <br/>
    </div>
      <div class="card-body">
        Symbol: <%= @symbol.symbol %> <br/>
        Real-Time Price: <%= @symbol.iex_realtime_price %> <br/> 
        <%# Format numbers to 2 decimal places and seperate with comma %>
        Latest Price: $<%= number_with_precision(@symbol.latest_price, :precision => 2, :delimiter => ',') %> <br/>
        Primary Exchange: <%= @symbol.primary_exchange %> <br/>
        Market Cap: <%= @symbol.market_cap %> <br/> 
      <% end %>

      <br/>

      <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-warning' %>
      <%= link_to 'Back', stocks_path, class: 'btn btn-secondary' %>
  </div>

</div>
